$coachhirePurple: #362c6e;
.no-padding {
padding: 0;
}
.no-padding-bottom {
  padding-bottom: 0;
}

.coachhire {
  .menu-item {
    a {
      h4 {
        margin: 0;
        font-size: 1em;
      }
    }
    padding: 0 ;
  }
}

.coachhire-header {
  color: $coachhirePurple;
 .container {
   background: #fff;
 }
  p,h4 {
    color:$coachhirePurple;
  }
}

.coachhire-number {
  font-size: 31px;
}

.vertical-middle {
  vertical-align: middle;
}

.beneath-header {
  background: $coachhirePurple;
  font-family: 'Montserrat', sans-serif;
  p {
    margin: 0 ;
    color: #fff;
  }
  padding: 20px;
}

.icons {
  img {
    //width: 40px;
  }
  width: 40px;
  //padding: 0 ;
}

.socials {
  list-style: none;
  display: table-cell;
  float: right;
  margin: 0;
  li {
    float: left;
    width: 40px;
  }
}

.v-m {
  vertical-align: middle;
}

.footer {
  background: #3d3f45;
  p {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 0;
  }
}

.no-paddingtopbot {
  padding-top: 0;
  padding-bottom: 0;
}


.body-content {
  h5 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
  }
  p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
  }
  .grey {
    background: #f5f5f5;
  }
  .pu {
    color: $coachhirePurple;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
  }
}

.white {
  background: #fff;
  ul {
    list-style: none;
    li {
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-size: 14px;
      margin-bottom: 20px;
    }
  }
}

.quote-tables {
.columns {
  padding-bottom: 2px;
}


}

.total-price {
  font-family: 'Lato', sans-serif;
  strong {
    font-size: 16px;
  }
}
.right-box {
  background: $coachhirePurple;
  .columns {
    //padding-left: 20px;
    //padding-right: 20px;
  }
}

.price-per-person {
  color: #fff;
  font-family: 'Lato', sans-serif;
  span {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
  }
}

.bags {
  img {
    width: 35px;
  }
}

.button {
  .book {
    h6 {
      text-align: center;
      padding: 14px 0;
      background: #ff3577;
      color: #fff;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      border-radius: 4px;
      margin: 0;
    }
  }
}

.font-quote {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #46484e;
}

.zero {
  margin: 0;
}

.right-box-vehicles {
  background: $coachhirePurple;
  .columns {
    padding-left: 20px;
    padding-right: 20px;
    .price-per-person {
      font-size: 16px;
      span {
        font-size: 13px;
      }
    }
  }
  .book {
    h6 {
      font-size: 13px;
    }
  }
}

.vehicles{
  h4 {
    font-size: 16px;
    span {
      font-size: 13px;
    }
  }
}

.items-images {
  padding: 0;
  li {
    width: 30px;
  }
}

.availabilities {
  .menu-item {
    width: 30px;
    padding: 0 ;
    a {
      img {
        width: 30px;
      }
    }

  }
}

.details {
  font-family: 'Lato', sans-serif;
  font-weight: 700 !important;
  color: #46484e;
  margin-bottom: 20px;

}

.heading {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #46484e;
  margin-bottom: 20px;
}

.quote {
  .heading {
    margin-bottom: 0;
  }
}

.fon {
  font-family: 'Montserrat', sans-serif;
}

.no-margin {
  margin-bottom: 0;
}

.divider {
  border-bottom: 1px solid #46484e;
}

.lato {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.dark-grey {
  background: #46484e;
}

.color--white {
  color: #fff;
}

.social-icons {
  tr {
    td {
      padding-right: 5px;
    }
  }
  margin-bottom: 5px;
}

.gu {
  color: #46484e;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.coach-img {
  img {
    width: 26px;
  }
}

.text {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #fff;
}

.lato-regular {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  color: #fff;
}

@media only screen and (max-width: #{$global-breakpoint}) {
.text-center-mobile {
  text-align: center !important;
}
  .center-a {
    margin:0 auto !important;
    display: block !important;
  }

  .center-w {
    width: 50% !important;
  }
  .show-mobile {
    display: block !important;
  }

  .hidden-mobile {
    display: none !important;
  }
  .full-width-mobile {
    width: 100% !important;
  }
  .first-icons {
    margin-left: 44px !important;
  }
}