<table>
    <tr>
        <td height="40">
        </td>
    </tr>
</table>
<row>
    <columns class="white" large="8">

        <row>
            <columns>

                <table>
                    <tr>
                        <td style="height: 20px">

                        </td>
                    </tr>
                </table>

            </columns>

        </row>

        <row>
            <columns>

                <h6 style="padding: 0 10px"><strong class="pu">Executive Coach</strong></h6>
            </columns>
        </row>

        <row>
            <columns large="7"></columns>
            <columns large="5">
                <table class="con white">
                    <tr class="white">
                        <td>
                            <h4><strong class="pu">£100</strong></h4>
                        </td>
                    </tr>
                </table>

            </columns>
        </row>


        <row>
            <columns class="v-m" large="7">
                <table class="con white">
                    <tr class="white">
                        <td style="padding: 0 20px">
                <img src="../assets/img/coach.svg">
                    </td>
                    </tr>
                    </table>
            </columns>
            <columns large="6">

                <row>
                <columns class="v-m" small="12" large="5">

                    <table class="con white">
                        <tr class="white">
                            <td>


                    <table class="social-icons" align="left" style="width: auto !important;">
                        <tr>
                            <td><a href="#"> <img style="width: 27px" src="../assets/img/tv.png"></a></td>
                            <td><a href="#"> <img style="width: 27px" src="../assets/img/toilet.png"></a></td>
                            <td><a href="#"> <img style="width: 27px" src="../assets/img/wifi.png"></a></td>
                            <td><a href="#"> <img style="width: 27px" src="../assets/img/coffee.png"></a></td>

                        </tr>
                    </table>

                    <table class="social-icons" align="left" style="width: auto !important;">
                        <tr>
                            <td><a href="#"> <img style="width: 27px" src="../assets/img/music.png"></a></td>
                            <td><a href="#"> <img style="width: 27px" src="../assets/img/ac.png"></a></td>


                        </tr>
                    </table>

                        </td>
                        </tr>
                        </table>




                </columns>
                </row>
            </columns>
        </row>

    </columns>
    <columns class="right-box vehicles" large="4">

        <row>
            <columns>

                <table>
                    <tr>
                        <td style="height: 20px">

                        </td>
                    </tr>
                </table>

            </columns>

        </row>
        <table class="con grey">
            <tr class="white quote">
                <td class="right-box">
        <row>
            <columns>

                <h4 style="padding:0 20px" class="price-per-person">£5.00 <span>per person</span></h4>

            </columns>

        </row>
        <row>
            <columns>

                <span style="height: 5px">&nbsp;</span>

            </columns>

        </row>
        <row>
            <columns class="bags">
                <img style="padding:0 20px" src="../assets/img/small-bag.svg"/>

            </columns>

        </row>

        <row>
            <columns>

                <table>
                    <tr>
                        <td style="height: 5px">

                        </td>
                    </tr>
                </table>

            </columns>

        </row>

        <row>
            <columns class="bags">
                <img style="padding:0 20px" src="../assets/img/big-bag.svg"/>
            </columns>
        </row>



        <row>
            <columns>

                <table>
                    <tr>
                        <td style="height: 10px">

                        </td>
                    </tr>
                </table>


            </columns>

        </row>

        <row>
            <columns class="button no-padding">

                <div style="text-align: center"><!--[if mso]>
                    <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml"
                                 xmlns:w="urn:schemas-microsoft-com:office:word" href="http://"
                                 style="height:46px;v-text-anchor:middle;width:200px;" arcsize="9%"
                                 stroke="f" fillcolor="#ff3577">
                        <w:anchorlock/>
                        <center>
                    <![endif]-->
                    <a href="http://"
                       style="background-color:#ff3577;border-radius:4px;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:46px;text-align:center;text-decoration:none;width:200px;-webkit-text-size-adjust:none;">Book
                        Now</a>
                    <!--[if mso]>
                    </center>
                    </v:roundrect>
                    <![endif]--></div>

            </columns>

        </row>

            </td>
            </tr>
            </table>


        <row>
            <columns>

                <table>
                    <tr>
                        <td style="height: 5px">

                        </td>
                    </tr>
                </table>

            </columns>

        </row>


    </columns>
</row>