
<row class="grey">
    <columns>
        <h4>Alternative vehicles</h4>
    </columns>
</row>
<row class="grey">
    <columns>
        <row class="white vehicles">
            <columns class="no-padding" large="8">

                <h6><strong class="pu">Executive Coach</strong></h6>

                <row>
                    <columns large="6"><img src="../assets/img/coach.svg"/></columns>
                    <columns large="6">

                        <h3><strong class="pu">£100</strong></h3>
                        <menu class="availabilities">
                            <item href="http://zurb.com"><img src="../assets/img/tv.svg"/></item>
                            <item href="http://zurb.com"><img src="../assets/img/tv.svg"/></item>
                            <item href="http://zurb.com"><img src="../assets/img/tv.svg"/></item>
                            <item href="http://zurb.com"><img src="../assets/img/tv.svg"/></item>
                        </menu>

                        <menu class="availabilities">
                            <item href="http://zurb.com"><img src="../assets/img/tv.svg"/></item>
                            <item href="http://zurb.com"><img src="../assets/img/tv.svg"/></item>
                        </menu>

                        <table>
                            <tr>
                                <td>
                                    <img src="../assets/img/tv.svg"/>
                                </td>
                                <td>
                                    <img src="../assets/img/tv.svg"/>
                                </td>
                            </tr>
                        </table>





                    </columns>
                </row>
            </columns>
            <columns class="no-padding right-box-vehicles" large="4">

                <row>
                    <columns>
                        <p class="zero">&nbsp;</p>

                        <h4 class="price-per-person">£5.00 <span>per person</span></h4>

                    </columns>

                </row>
                <row>
                    <columns class="bags">
                        <img src="../assets/img/small-bag.svg"/>
                        <img src="../assets/img/big-bag.svg"/>


                    </columns>

                </row>

                <row>
                    <columns class="button no-padding">
                        <a class="book" href=""><h6>Book Now</h6></a>
                        <p class="zero">&nbsp;</p>

                    </columns>

                </row>
            </columns>
        </row>
    </columns>
</row>