<row class="grey">
    <columns height="36"><p>&nbsp;</p> </columns>
</row>

<row class="grey">
    <columns class="" small="12" large="12">
        <h5>Booking Confirmation</h5>
      <table>
          <tr>
              <td height="20">

              </td>
          </tr>
      </table>
        <p>Thank you for booking with <a href="#"><strong>Coachhire.com</strong></a>  Please read the below information carefully.</p>
        <table>
            <tr>
                <td height="20"></td>
            </tr>
        </table>

        <p>Please ensure the details contained in this email are correct, particularly if you have requested specific features (PA system, toilet) and ensure special requirements are listed in the notes section. If there is a problem or discrepancy, please call us right away on 0203 397 4460.</p>
        <table>
            <tr>
                <td height="20"></td>
            </tr>
        </table>
        <p>You will receive your driver’s contact details prior to departure, for your convenience. You now have a confirmed booking with us which is subject to our terms and conditions.</p>
        <table>
            <tr>
                <td height="20"></td>
            </tr>
        </table>
        <p>If there is any payment due on your booking please advise us how you would like to settle the amount. Be advised that a payment will need to be made on your booking within 48 hours to secure your vehicle and quote. Failure to settle your balance by the due date may affect availability and will often require a new quotation.</p>

        <table>
            <tr>
                <td height="20"></td>
            </tr>
        </table>
        <h5>Payment Methods</h5>
        <table>
            <tr>
                <td height="20">

                </td>
            </tr>
        </table>
        <p>Payment can be made in the following ways:</p>

        <ol class="ordered-list"  style="padding: 0;Margin:0 15px;">
            <li><strong>By debit/credit card</strong> - please call 0203 397 4460 or use the ‘Pay Now’ link in this email to
                pay online. A small admin charge may apply.
            </li>
            <li><strong>Bank transfer </strong> to Transport2 (UK) Ltd, Santander Account number 10 22 73 89
                sort code 09-02-22
            </li>
            <li><strong> By Cheque </strong> to Transport2 (UK) Ltd. 551 Fairlie Road, Slough, Berkshire, SL1 4PY. Please allow enough time for your cheque to clear before journey date - we recommend 10 working days. N.B. Please write the booking reference on the back of cheque.</li>
        </ol>

        <ul class="unordered-list" style="padding: 0;Margin:15px;">
            <li> Please note that the vehicle type is for descriptive purposes only, a vehicle will be allocated to provide sufficient seats for the number of passengers and luggage as booked. No assumption should be made that a vehicle will have capacity for additional passengers or luggage.</li>
            <li>Additional drops, pickups and/or other extras including driver accommodation/meals are NOT INCLUDED unless they are expressly stated in the notes section of your booking.</li>
            <li>All bookings are based on the 24 hour clock.</li>
            <li> Waiting times: all bookings include a 10 minute grace period.  Any additional waiting time after 10 minutes will be charged at the prevailing rate.</li>
            <li>Amendments will be confirmed to you in writing. If you do not receive a confirmation following an amendment then your amendment has not been made.</li>
            <li>We cannot provide car seats for children.</li>
            <li> If your booking is for an airport pick up (e.g. Heathrow or Gatwick) you must make your way to the
                coach park to meet your vehicle. The driver cannot leave the vehicle to collect the passengers from
                the terminal building.
            </li>
        </ul>
        <p>Our emergency contact number is 0203 397 4460 (option 2) 24 hours a day, 7 days a week.</p>
        <table>
            <tr>
                <td height="20"></td>
            </tr>
        </table>
        <p>All bookings are subject to our <a href="#"><strong>terms and conditions.</strong></a></p>
        <table>
            <tr>
                <td height="20"></td>
            </tr>
        </table>
        <p><strong>Thank you for choosing Coachhire.com</strong></p>


    </columns>
</row>

