<table>
    <tr>
        <td height="40">
        </td>
    </tr>
</table>
<container class="footer">
    <table class="con" style="width: 100%">
        <tr class="">
            <td class="dark-grey" style="padding:0 20px">
    <row>
        <columns class="dark-grey">

          <table>
              <tr>
                  <td height="20">
                  </td>
              </tr>
          </table>

        </columns>

    </row>
    <row>
        <columns class="v-m  dark-grey" small="6" large="6"><span style="font-size: 16px" class="color--white text-lato-light font-mobile-footer">Important text for email footer</span></columns>
        <columns class=" v-m dark-grey" small="6" large="6">


            <table align="right" style="width: auto !important;">
                <tr>
                    <td><a href="#"> <img width="35" style="width: 35px" src="http://i.imgur.com/G2n9I2m.png"></a></td>
                    <td><a href="#"> <img width="35" style="width: 35px" src="http://i.imgur.com/G2n9I2m.png"></a></td>
                    <td><a href="#"> <img width="35" style="width: 35px" src="http://i.imgur.com/G2n9I2m.png"></a></td>
                    <td><a href="#"> <img width="35" style="width: 35px" src="http://i.imgur.com/G2n9I2m.png"></a></td>

                </tr>
            </table>




        </columns>
    </row>
    <row>
        <columns class="dark-grey">

            <table>
                <tr>
                    <td height="20">
                    </td>
                </tr>
            </table>

        </columns>

    </row>
            </td>
        </tr>
    </table>
</container>
