<container class="footer">
    <row>
        <columns class="v-m padding-footer" small="12" large="6"><p>Important text for email footer</p></columns>
        <columns class="padding-footer" small="12" large="6">

            <!--<menu class="simple">-->
            <!--<item class="icons" href="http://zurb.com"><img src="../assets/img/linkedin.svg"></item>-->
            <!--<item class="icons" href="http://zurb.com"><img src="../assets/img/facebook.svg"></item>-->
            <!--<item class="icons" href="http://zurb.com"><img src="../assets/img/twitter.svg"></item>-->
            <!--<item class="icons" href="http://zurb.com"><img src="../assets/img/youtube.svg"></item>-->
            <!--</menu>-->

            <ul class="socials">
                <li>
                    <a href="">

                        <img src="../assets/img/linkedin.svg">
                    </a>
                </li>
                <li>
                    <a href="">

                        <img src="../assets/img/facebook.svg">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../assets/img/twitter.svg">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../assets/img/youtube.svg">
                    </a>
                </li>
            </ul>

        </columns>
    </row>
</container>