<row class="grey">
    <columns height="36"><p>&nbsp;</p> </columns>
</row>

<row class="grey">
    <columns class="" small="12" large="12">
        <p><strong>Dear Sam Smith,</strong></p>
        <table>
            <tr>
                <td height="20"></td>
            </tr>
        </table>

        <p>Thank you for asking <a href=""><strong>coachhire.com</strong></a>< to quote for your upcoming transport. Please find your bespoke quote below. If you like what you see please go ahead and book now!</p>
        <table>
            <tr>
                <td height="20"></td>
            </tr>
        </table>
    </columns>
</row>

