<row class="grey">
    <columns height="36"><p>&nbsp;</p> </columns>
</row>

<row class="grey">
    <columns class="" small="12" large="12">
        <table>
            <tr>
                <td height="20"></td>
            </tr>
        </table>


        <p><strong class="pu">Please note all our bookings are taken using the 24 hour clock.</strong></p>
        <p>Kind Regards,<br> <strong>The Coach Hire team</strong></p>
        <table>
            <tr>
                <td height="20"></td>
            </tr>
        </table>

        <hr>
        <table>
            <tr>
                <td height="30"></td>
            </tr>
        </table>

        <p>Please check the details of your personalised quote below and if you are happy it is all correct; please click the book now link to make your deposit, or call us on <strong>0203 397 4460.</strong></p>
        <table>
            <tr>
                <td height="20"></td>
            </tr>
        </table>
        <p>Due to the high demand for Coaches & Minibuses and rules governing drivers’ hours it is advisable to make your deposit early to avoid last minute disappointment.</p>
        <table>
            <tr>
                <td height="20"></td>
            </tr>
        </table>
        <p>Remember: all our bookings are taken using the 24 hour clock and vehicles are provided based on the stated number of passengers, any mention of vehicle seat numbers is for reference only.</p>
        <table>
            <tr>
                <td height="20"></td>
            </tr>
        </table>
        <p>Please note all our quotes include the driver</p>
        <table>
            <tr>
                <td height="20"></td>
            </tr>
        </table>
        <p>All bookings are subject to our terms and conditions, they can be found by clicking here.</p>
        <table>
            <tr>
                <td height="20"></td>
            </tr>
        </table>
        <p>Reference: <strong>432842 Date: 24-02-2016 (12:54:55)</strong></p>
    </columns>
</row>


