<table>
    <tr>
        <td height="40">
        </td>
    </tr>
</table>
<row class="grey">

    <columns>
        <row class="white quote">
            <columns class="no-padding" large="7">

                <table class="con grey">
                    <tr class="white quote">
                        <td style="padding:0 24px">
                            <row>
                                <columns>

                                    <table>
                                        <tr>
                                            <td height="20">
                                            </td>
                                        </tr>
                                    </table>

                                </columns>

                            </row>
                            <row>
                                <columns>

                                    <h4 class="font-quote">Your quote</h4>
                                    <table>
                                        <tr>
                                            <td height="20">
                                            </td>
                                        </tr>
                                    </table>

                                </columns>
                            </row>

                            <row>
                                <columns large="4"><p class="total-price"><strong class="pu">Total Price</strong></p>
                                </columns>
                                <columns class="no-padding" large="4"><p class="total-price"><strong
                                        class="pu">£5.00</strong></p></columns>
                            </row>

                            <row>
                                <columns>

                                    <table>
                                        <tr>
                                            <td height="14">
                                            </td>
                                        </tr>
                                    </table>

                                </columns>

                            </row>


                            <row class="custom-tables quote-tables">

                                <columns class="no-padding" large="12">

                                    <row>
                                        <columns large="4"><p class="heading">Vehicle price:</p></columns>
                                        <columns class="no-padding" large="4"><p class="heading">£10</p></columns>
                                    </row>
                                    <row>
                                        <columns large="4"><p class="heading">Deposit % </p></columns>
                                        <columns class="no-padding" large="4"><p class="heading">30</p></columns>
                                    </row>
                                    <row>
                                        <columns large="4"><p class="heading">Deposit Amount</p></columns>
                                        <columns class="no-padding" large="4"><p class="heading">£3.00</p></columns>
                                    </row>
                                    <row>
                                        <columns large="4"><p class="heading">Current Balance</p></columns>
                                        <columns class="no-padding" large="4"><p class="heading">£10.00</p></columns>
                                    </row>
                                    <row>
                                        <columns large="6"><p class="heading">Balance Due Date</p></columns>
                                        <columns class="no-padding" large="4"><p class="heading">Fri 12th February</p>
                                        </columns>
                                    </row>

                                </columns>


                            </row>
                            <row>
                                <columns>

                                    <table>
                                        <tr>
                                            <td height="20">
                                            </td>
                                        </tr>
                                    </table>

                                </columns>

                            </row>

                        </td>
                    </tr>
                </table>

            </columns>


            <columns class="right-box" large="5">
                <table class="con grey">
                    <tr class="right-box">
                        <td style="padding: 0 20px">

                            <row>
                                <columns>
                                    <table>
                                        <tr>
                                            <td height="20">
                                            </td>
                                        </tr>
                                    </table>


                                    <h4 class="price-per-person text-center-mobile">£5.00 <span>per person</span></h4>

                                </columns>

                            </row>
                            <row>
                                <columns>

                                    <table>
                                        <tr>
                                            <td height="20">
                                            </td>
                                        </tr>
                                    </table>

                                </columns>

                            </row>
                            <row>
                                <columns class="bags">
                                    <img width="35" class="center-a" src="http://i.imgur.com/Bj40Tmq.png"/>

                                </columns>

                            </row>

                            <row>
                                <columns>

                                    <table>
                                        <tr>
                                            <td height="10">
                                            </td>
                                        </tr>
                                    </table>

                                </columns>

                            </row>

                            <row>
                                <columns class="bags">
                                    <img width="35" class="center-a" src="http://i.imgur.com/Dmdlvrn.png"/>
                                </columns>
                            </row>



                            <row>
                                <columns>

                                    <table>
                                        <tr>
                                            <td height="20">
                                            </td>
                                        </tr>
                                    </table>

                                </columns>

                            </row>

                            <row>
                                <columns class="button no-padding">

                                    <div style="text-align: center"><!--[if mso]>
                                        <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml"
                                                     xmlns:w="urn:schemas-microsoft-com:office:word" href="http://"
                                                     style="height:46px;v-text-anchor:middle;width:200px;" arcsize="9%"
                                                     stroke="f" fillcolor="#ff3577">
                                            <w:anchorlock/>
                                            <center>
                                        <![endif]-->
                                        <a class="lato-regular" href="http://"
                                           style="background-color:#ff3577;border-radius:4px;color:#ffffff;display:inline-block;line-height:46px;text-align:center;text-decoration:none;width:200px;-webkit-text-size-adjust:none;">Book
                                            Now</a>
                                        <!--[if mso]>
                                        </center>
                                        </v:roundrect>
                                        <![endif]--></div>
                                    <table class="show-mobile" style="display: none">
                                        <tr>
                                            <td height="20">
                                            </td>
                                        </tr>
                                    </table>
                                </columns>

                            </row>
                        </td>

                    </tr>
                </table>
            </columns>
        </row>
    </columns>


</row>




