<table>
    <tr>
        <td height="40">
        </td>
    </tr>
</table>
<row class="grey">

    <columns>
        <row class="white quote">
            <columns class="no-padding" large="7">

                <table class="con grey">
                    <tr class="white quote">
                        <td style="padding:0 0 0 20px">
                            <row>
                                <columns>

                                    <table>
                                        <tr>
                                            <td height="20">
                                            </td>
                                        </tr>
                                    </table>

                                </columns>

                            </row>
                            <row>
                                <columns>

                                    <h4 class="font-quote">Your quote</h4>
                                    <table>
                                        <tr>
                                            <td height="20">
                                            </td>
                                        </tr>
                                    </table>

                                </columns>
                            </row>

                            <row>
                                <columns large="4"><p class="total-price"><strong class="pu">Total Price</strong></p>
                                </columns>
                                <columns class="no-padding" large="4"><p class="total-price"><strong
                                        class="pu">£5.00</strong></p></columns>
                            </row>

                            <row>
                                <columns>

                                    <table>
                                        <tr>
                                            <td height="14">
                                            </td>
                                        </tr>
                                    </table>

                                </columns>

                            </row>


                            <row class="custom-tables quote-tables">

                                <columns class="no-padding" large="12">

                                    <row>
                                        <columns large="6"><p class="heading">Vehicle price:</p></columns>
                                        <columns class="no-padding" large="6"><p class="heading">£10</p></columns>
                                    </row>
                                    <row>
                                        <columns large="6"><p class="heading">Deposit % </p></columns>
                                        <columns class="no-padding" large="6"><p class="heading">30</p></columns>
                                    </row>
                                    <row>
                                        <columns large="6"><p class="heading">Deposit Amount</p></columns>
                                        <columns class="no-padding" large="6"><p class="heading">£3.00</p></columns>
                                    </row>
                                    <row>
                                        <columns large="6"><p class="heading">Current Balance</p></columns>
                                        <columns class="no-padding" large="6"><p class="heading">£10.00</p></columns>
                                    </row>
                                    <row>
                                        <columns large="6"><p class="heading">Payment received	</p></columns>
                                        <columns class="no-padding" large="6"><p class="heading">£368.00 - Card by Phone</p>
                                        </columns>
                                    </row>


                                </columns>


                            </row>
                            <row>
                                <columns>

                                    <table>
                                        <tr>
                                            <td height="20">

                                            </td>
                                        </tr>
                                    </table>

                                </columns>

                            </row>

                        </td>
                    </tr>
                </table>

            </columns>


            <columns class="right-box" large="5">
                <table class="con grey">
                    <tr class="right-box">
                        <td style="padding: 0 20px">

                            <row>
                                <columns>
                                    <table>
                                        <tr>
                                            <td height="20">
                                            </td>
                                        </tr>
                                    </table>


                                    <h4 class="price-per-person text-center-mobile">£5.00 <span>per person</span></h4>

                                </columns>

                            </row>
                            <row>
                                <columns>

                                    <table>
                                        <tr>
                                            <td height="20">
                                            </td>
                                        </tr>
                                    </table>

                                </columns>

                            </row>
                            <row>
                                <columns class="bags">
                                    <img width="35" class="center-a" src="http://i.imgur.com/Bj40Tmq.png"/>

                                </columns>

                            </row>

                            <row>
                                <columns>

                                    <table>
                                        <tr>
                                            <td height="10">
                                            </td>
                                        </tr>
                                    </table>

                                </columns>

                            </row>

                            <row>
                                <columns class="bags">
                                    <img width="35" class="center-a" src="http://i.imgur.com/Dmdlvrn.png"/>
                                </columns>
                            </row>



                            <row>
                                <columns>

                                    <table>
                                        <tr>
                                            <td height="20">
                                            </td>
                                        </tr>
                                    </table>

                                </columns>

                            </row>

                            <row>
                                <columns class="button no-padding">


                                    <div style="text-align: center"><!--[if mso]>
                                        <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml"
                                                     xmlns:w="urn:schemas-microsoft-com:office:word" href="http://"
                                                     style="height:47px;v-text-anchor:middle;width:200px;" arcsize="9%"
                                                     strokecolor="#ffffff" fillcolor="#362c6e">
                                            <w:anchorlock/>

                                          <table>
                                              <tr>
                                                  <td style="width: 25%; vertical-align: middle"><img width="21" style="width: 21px; margin: 0 auto" src="http://i.imgur.com/idi9DuY.png"/></td>
                                                  <td style="width: 75%; vertical-align: middle">  <span class="text" style="color:#ffffff; width:100%;">
                                                      Payment received
                                                  </span></td>
                                              </tr>
                                          </table>

                                        </v:roundrect>
                                        <![endif]-->
                                        <a class="text" href="http://" style="background-color:#362c6e;border:1px solid #ffffff;border-radius:4px;color:#ffffff;display:inline-block;line-height:47px;text-align:center;text-decoration:none;width:200px;-webkit-text-size-adjust:none;mso-hide:all;">

                                            <!--[if !mso]><!-- -->
                                            <row>
                                                <columns>

                                                    <table class="hidden-mobile">
                                                        <tr>
                                                            <td height="12">
                                                            </td>
                                                        </tr>
                                                    </table>

                                                </columns>

                                            </row>
                                            <row>
                                                <columns class="v-m" small="3" large="3"><img width="21" style="width: 21px; margin: 0 auto" src="http://i.imgur.com/idi9DuY.png" /> </columns>
                                                <columns class="v-m" small="9" large="9"><span class="text">Payment received</span></columns>

                                            </row>
                                            <row>
                                                <columns>

                                                    <table class="hidden-mobile">
                                                        <tr>
                                                            <td height="12">
                                                            </td>
                                                        </tr>
                                                    </table>

                                                </columns>

                                            </row>
                                            <!--<![endif]-->

                                        </a>


                                                <table class="show-mobile" style="display: none">
                                                    <tr>
                                                        <td height="20"></td>
                                                    </tr>
                                                </table>

                                    </div>


                                </columns>

                            </row>
                        </td>

                    </tr>
                </table>
            </columns>
        </row>
    </columns>


</row>




