<row class="grey">

    <columns>
        <row class="white quote">
            <columns class="no-padding" large="7">
                <row>
                    <columns>
                        <p class="zero">&nbsp;</p>
                        <h4 class="font-quote">Your quote</h4>

                    </columns>
                </row>

                <row>
                    <columns large="4"><p class="total-price"><strong class="pu">Total Price</strong></p></columns>
                    <columns class="no-padding" large="4"><p class="total-price"><strong class="pu">£50.00</strong></p></columns>
                </row>


                <row class="custom-tables quote-tables">

                    <columns  class="no-padding" large="12">

                        <row>
                            <columns large="4"><p class="heading">Vehicle price:</p></columns>
                            <columns class="no-padding" large="4"><p class="heading">£10</p></columns>
                        </row>
                        <row>
                            <columns large="4"><p class="heading">Deposit %	</p> </columns>
                            <columns class="no-padding" large="4"><p class="heading">30</p></columns>
                        </row>
                        <row>
                            <columns  large="4"><p class="heading">Deposit Amount</p></columns>
                            <columns class="no-padding" large="4"><p class="heading">£3.00</p></columns>
                        </row>
                        <row>
                            <columns large="4"><p class="heading">Current Balance</p></columns>
                            <columns class="no-padding" large="4"><p class="heading">£10.00</p></columns>
                        </row>
                        <row>
                            <columns large="6"><p class="heading">Balance Due Date</p></columns>
                            <columns class="no-padding" large="4"><p class="heading">Fri 12th February</p></columns>
                        </row>

                    </columns>



                </row>


            </columns>
            <columns class="no-padding right-box" large="5">

                <row>
                    <columns>
                        <p class="zero">&nbsp;</p>

                        <h4 class="price-per-person">£5.00 <span>per person</span></h4>

                </columns>

                </row>
                <row>
                    <columns class="bags no-padding">
                        <img src="../assets/img/small-bag.svg"/>
                        <img src="../assets/img/big-bag.svg"/>


                    </columns>

                </row>

                <row>
                    <columns class="button no-padding">
                       <a class="book" href=""><h6>Book Now</h6></a>
                        <p class="zero">&nbsp;</p>

                    </columns>

                </row>
            </columns>
        </row>
    </columns>


</row>