<row class="grey">
    <columns>
        <row>
            <columns class="no-padding white" large="12">

                <row class="">
                    <columns class="no-padding" height="20"><p>&nbsp;</p> </columns>
                </row>
                <row>
                    <columns class="no-padding-bottom" large="12">
                        <h6>Quote request received</h6>

                    </columns>


                </row>

                <row class="">
                    <columns class="no-padding" height="20"><hr>&nbsp; </columns>
                </row>

                <row class="custom-tables">

                <columns  class="no-padding" large="12">

                    <row>
                        <columns large="4"><p class="heading">Pick up date:</p></columns>
                        <columns class="no-padding" large="4"><p class="details">Monday 4th April 3.30pm</p></columns>
                    </row>
                    <row>
                        <columns large="4"><p class="heading">Collection address:</p> </columns>
                        <columns class="no-padding" large="4"><p class="details">Carnaby Street, London</p></columns>
                    </row>
                    <row>
                        <columns  large="4"><p class="heading">Destination address:</p></columns>
                        <columns class="no-padding" large="4"><p class="details">Camden Town, London</p></columns>
                    </row>
                    <row>
                        <columns large="4"><p class="heading">Route:</p></columns>
                        <columns class="no-padding" large="4"><p class="details">Monday 11th April 3.30pm</p></columns>
                    </row>
                    <row>
                        <columns large="4"><p class="heading">Number of Passangers:</p></columns>
                        <columns class="no-padding" large="4"><p class="details">14</p></columns>
                    </row>
                    <row>
                        <columns large="4"><p class="heading">Vehicle Type:</p></columns>
                        <columns class="no-padding" large="4"><p class="details">Standard Mini Bus</p>
                        <row class="bus-images">
                            <columns large="2" class="no-padding">
                                <img src="http://placehold.it/115x115"/>
                            </columns>
                            <columns large="2" class="no-padding">
                                <img src="http://placehold.it/115x115"/>
                            </columns>
                        </row>
                        </columns>
                    </row>

                    <row>
                        <columns large="4"><p class="heading">Luggage Details:</p></columns>
                        <columns class="no-padding" large="4"><p class="details">Lap Luggage Only</p></columns>
                    </row>
                    <row>
                        <columns large="4"><p class="heading">Purpose of journey: </p> </columns>
                        <columns class="no-padding" large="4"><p class="details">Unknown</p></columns>
                    </row>
                    <row>
                        <columns  large="4"><p class="heading">Contact Name:</p></columns>
                        <columns class="no-padding" large="4"><p class="details">Sam Smith</p></columns>
                    </row>
                    <row>
                        <columns large="4"><p class="heading">Contact Email:</p></columns>
                        <columns class="no-padding" large="4"><p class="details">samsmith@googlemail.com
                        </p></columns>
                    </row>
                    <row>
                        <columns  large="4"><p class="heading">Contact phone:</p></columns>
                        <columns class="no-padding" large="4"><p class="details">07708 932 172</p></columns>
                    </row>

                  </columns>



                </row>
            </columns>

        </row>
    </columns>
</row>