<row>
    <columns>
        <row class="white">
            <columns large="12">

                <row class="white">

                <columns class="no-padding" large="1"><ul class="no-padding">
                    <li>Pick up date: </li>
                    <li>Collection address: </li>
                    <li>Destination address: </li>
                    <li>Route:</li>
                    <li>Number of Passangers: 	</li>
                    <li>Vehicle Type:</li>
                </ul></columns>
                <columns class="no-padding" large="2"><ul class="">
                    <li><strong>Monday 4th April 3.30pm</strong> </li>
                    <li><strong>Carnaby Street, London</strong></li>
                    <li><strong>Camden Town, London</strong></li>
                    <li><strong>Monday 11th April 3.30pm</strong></li>
                    <li><strong>14</strong>	</li>
                    <li><strong>Standard Mini Bus</strong></li>
                </ul>


                </columns>
                </row>
            </columns>

        </row>
    </columns>
</row>