<row>
    <columns>
        <row class="white">
            <columns large="12">

                <row class="white">

                <columns class="no-padding" large="1"><ul class="no-padding">
                    <li>Pick up date: </li>
                    <li>Collection address: </li>
                    <li>Destination address: </li>
                    <li>Route:</li>
                    <li>Number of Passangers: 	</li>
                    <li>Vehicle Type:</li>
                </ul></columns>
                <columns class="no-padding" large="2"><ul class="">
                    <li><strong>Monday 4th April 3.30pm</strong> </li>
                    <li><strong>Carnaby Street, London</strong></li>
                    <li><strong>Camden Town, London</strong></li>
                    <li><strong>Monday 11th April 3.30pm</strong></li>
                    <li><strong>14</strong>	</li>
                    <li><strong>Standard Mini Bus</strong>
                   <row class="white">
                       <columns class="no-padding" small="12" large="6">
                      <img src="http://placehold.it/114x114">

                     </columns>
                       <columns class="no-padding" small="12" large="6">
                           <img src="http://placehold.it/114x114">

                       </columns>
                   </row>

                    </li>
                </ul>


                </columns>
                </row>

                <row class="white">
                    <columns class="no-padding" small="12" large="2">
                        <ul class="no-padding">
                            <li>Luggage Details:  </li>
                            <li>Purpose of journey:  </li>
                            <li>Contact Name: </li>
                            <li>Contact Email:</li>
                            <li>Contact phone:</li>

                        </ul>
                    </columns>
                    <columns small="12" large="2">

                        <ul class="">
                            <li><strong>Lap Luggage Only</strong> </li>
                            <li><strong>Unknown</strong></li>
                            <li><strong>Sam Smith</strong></li>
                            <li><strong>samsmith@googlemail.com</strong></li>
                            <li><strong>07708 932 172</strong>	</li>
                            </ul>

                    </columns>
                </row>
            </columns>

        </row>
    </columns>
</row>