<row>
    <columns height="36"><p>&nbsp;</p> </columns>
</row>

<row>
    <columns small="12" large="12">
        <h5>Thank you for your enquiry</h5>
        <p>We’ll now compare prices and vehicles at the nearest of our <strong>4,000 UK depots</strong> to get you the best deal. Please feel free to contact us directly on  <strong>0203 397 4460 </strong>  should there be some urgency regarding your booking.</p>
        <p><strong class="pu">Travelling to the airport? </strong> Take advantage of our Global Network to book your transfers in the UK and at your destination to save both time and money. Just ask your travel adviser for a quote.</p>
        <p><strong class="pu">Important: </strong> Any changes to the details need to be brought to our attention as soon as possible as this may affect the price quoted.</p>
        <p>Please ensure you check all the information you have provided such as times, dates, pick-up and drop-off details are correct. Any parking charges, with the exception of Airport parking, are not included in the price given.</p>
        <p><strong class="pu">Please note all our bookings are taken using the 24 hour clock.</strong></p>
        <p>Kind Regards,<br> <strong>The Coach Hire team</strong></p>
    </columns>
</row>